.card {
    width: 250px;
    height: 250px;
    border: 1px solid gray;
    display: flex;
    flex-flow: column nowrap;
    align-items: left;
    margin: 10px;
    justify-content: space-evenly;
}

.img {
    width: 100%;
    height: 150px;
}

.description {
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
}